<section class="last3posts container my-5">
    <div>
        <div><h2 class="text-black m-4 text-center fw-bolder">3 derniers articles :</h2>
        <div class="bg-light" id="posts">
            <ul class="list-unstyled">
                <div class="row">
                    {% for lastPost in lastPosts %}
                        <div class="col-lg-4">
                            <div class="container px-1">
                                <li>
                                    <a href="./posts/{{lastPost.id}}"  class="text-decoration-none">
                                        <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                                            <div>
                                                <div class="bg-black text-center h-100 project">
                                                    <div class="d-flex h-100">
                                                        <div class="project-text w-100 my-auto text-center text-lg-left">
                                                            <div class="border border-primary rounded m-4 p-3 h-100 homePostSummary d-flex flex-column">
                                                                <h4 class="text-primary fw-bolder col-12">{{lastPost.title|capitalize}}</h4>
                                                                <p class="text-white col-12 align-self-middle m-auto">{{ lastPost.summary }}</p>
                                                                <p class="text-white col-12 align-self-end mt-auto">Cet article vous intéresse ? Pour le lire en entier cliquez ici</p>
                                                                <div class="text-white row align-self-end">
                                                                    <p class="col-12 mb-1">Auteur : {{ lastPost.author|capitalize }}</p>
                                                                    <p class="col-12 mb-1">Dernière modification le : {{ lastPost.lastUpdateDate_at|date("m/d/Y")}}</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </ul>
        </div>
    </div>
</section>
