{% extends "base.html.twig" %}

{% block body %}

<section class="blackground">
    <div class="p-section pt-5 bg-light" id="promoting">
        <div class="container">
            <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="bg-black text-center">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center">
                                <div class="p-1">
                                    <h1 class="text-primary fw-bolder my-4">Valider les commentaires</h1>
                                    <p class="text-success font-weight-bold fs-4 bg-white bg-opacity-25 rounded">{{ message }}</p>
                                    <p class="text-danger font-weight-bold fs-4 bg-white bg-opacity-75 rounded">{{ error }}</p>
                                    <ul class="list-unstyled">
                                        {% for comment in comments %}
                                            <li class="row g-0 p-2">
                                                <div class="border border-primary rounded p-1 mx-auto my-2 row">
                                                    <h2 class="text-primary "> {{ comment.postTitle }}</h2>
                                                    <p class="text-white">{{ comment.content }}</p>
                                                    <p class="text-right text-white">de {{ comment.author }}</p>
                                                    <div class="row btn-group">
                                                        <div class="col-12 col-lg-4 offset-lg-1">
                                                            <form action="./validation" method="post" id="form-box" class="p-2 col-12 col-lg-10 row">
                                                                <input type="hidden" id="validationAction" name="action" value="validate">
                                                                <input type="hidden" id="commentId" name="commentId" value="{{ comment.id }}">
                                                                <div class="form-group d-flex mx-auto">
                                                                    <div class="mx-auto my-4">
                                                                        <input type="submit" id="validationSubmit" class="btn btn-body btn-block m-2" value="Valider">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-12 col-lg-4 offset-lg-2">
                                                            <form action="./validation" method="post" id="form-box" class="p-2 col-12 col-lg-10 row">
                                                                <input type="hidden" id="deleteAction" name="action" value="delete">
                                                                <input type="hidden" id="commentId" name="commentId" value="{{ comment.id }}">
                                                                <div class="form-group d-flex mx-auto">
                                                                    <div class="mx-auto my-4">
                                                                        <input type="submit" id="deleteSubmit" class="btn btn-body btn-block m-2" value="Supprimer">
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
